<div class="bg-primary-reverse pt-0 movies-container">
  <div class="pt-2 grid grid-nogutter">
    <p-card
      *ngFor="let movie of movies$ | async"
      class="col-3 p-3 movie-card"
      [header]="movie.name"
      [subheader]="movie.releaseDate.toString()">
      <ng-template pTemplate="header">
        <div
          class="movie-header"
          [style.background-color]="movieService.randomColor$ | async"></div>
      </ng-template>

      <span class="card-content text-gray-300">
        {{ movie.genres.length > 0 ? movie.genres : 'N/A' }}
      </span>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-arrow-up"
          class="p-button-rounded p-button-outlined"></button>
      </ng-template>
    </p-card>
  </div>
</div>
