<div class="bg-primary-reverse pt-0 movies-container">
  <div
    class="movie-controller-bar bg-primary-reverse shadow-1 flex justify-content-around flex-row w-full">
    <div class="flex flex-row flex-1 pl-3">
      <p-selectButton
        *ngIf="user$ | async"
        class="mr-2"
        [options]="viewOptions"
        [(ngModel)]="viewMode"
        (onChange)="viewModeChange()"
        placeholder="View Mode"
        optionLabel="name"></p-selectButton>
      <p-button
        *ngIf="user$ | async"
        (onClick)="showAddMovieModal()"
        styleClass="p-button-raised mr-2">
        <i class="pi pi-plus"></i>
        <span class="ml-2 font-bold">Add Movie</span>
      </p-button>
    </div>
    <div *ngIf="viewMode?.code === 'all'" class="flex">
      <p-dropdown
        (onChange)="onSortByChange($event.value)"
        [options]="sortByOptions"
        [(ngModel)]="sortedBy"
        placeholder="Sort By"
        optionLabel="name"
        [showClear]="false"></p-dropdown>
      <p-dropdown
        class="ml-2"
        (onChange)="onSortOrderChange($event.value)"
        [options]="sortOrderOptions"
        [(ngModel)]="sortedOrder"
        placeholder="Sort Order"
        optionLabel="name"
        [showClear]="false"></p-dropdown>
      <p-dropdown
        styleClass="genre-dropdown"
        class="ml-2"
        #favouriteGenreDropdown
        (onChange)="onFilteredGenreChange($event.value)"
        [options]="groupedGenres$ | async"
        [(ngModel)]="genreSelected"
        placeholder="Filter by genre"
        optionLabel="genre"
        [group]="(favouriteGenres$ | async).length"
        [showClear]="false">
        <ng-template pTemplate="selectedItem">
          <div class="genre-item genre-item-value" *ngIf="genreSelected">
            <div>{{ genreSelected.genre }}</div>
          </div>
        </ng-template>
        <ng-template let-genre pTemplate="item">
          <div class="country-item">
            <div
              class="flex justify-content-between flex-row align-items-center">
              <div>{{ genre.genre }}</div>
              <button
                *ngIf="user$ | async"
                pButton
                (click)="onFavouriteClick($event, genre)"
                type="button"
                [icon]="
                  favouriteGenres$.getValue().indexOf(genre) === -1
                    ? 'pi pi-star'
                    : 'pi pi-star-fill'
                "
                [pTooltip]="
                  favouriteGenres$.getValue().indexOf(genre) === -1
                    ? 'Mark Favourite'
                    : 'Únmark Favourite'
                "
                class="p-button-rounded p-button-text star-btn"
                [ngClass]="{
                  'p-button-secondary': genreSelected === genre
                }"></button>
            </div>
          </div>
        </ng-template>
      </p-dropdown>
      <span class="p-input-icon-right mr-3 ml-2">
        <i class="pi pi-search"></i>
        <input
          type="text"
          class="w-full"
          (input)="onSearchInputChange()"
          [(ngModel)]="searchTerm"
          pInputText
          placeholder="Search movies" />
      </span>
    </div>
  </div>
  <div class="pt-2 grid grid-nogutter">
    <ng-container *ngIf="movies$ | async as movies; else movieLoadSpinner">
      <ng-container *ngIf="movies.length; else noMoviePlaceholder">
        <p-card
          *ngFor="
            let movie of viewMode?.code === 'all'
              ? (movies$ | async)
              : recommendedMovies
          "
          class="col-3 p-3 movie-card"
          [subheader]="(movie.releaseDate.toString() | date)!">
          <ng-template pTemplate="header">
            <div
              class="movie-header"
              [style.background-color]="
                movieService.randomColor$ | async
              "></div>
            <h4
              class="mt-3 ml-4 mb-0 -mb-2 cursor-pointer"
              [routerLink]="'/movie/' + movie.id">
              {{ movie.name }}
            </h4>
          </ng-template>

          <span class="card-content text-gray-300">
            {{
              movie.genres.length
                ? getFormattedMovieGenres(movie.genres)
                : 'N/A'
            }}
          </span>

          <ng-template *ngIf="user$ | async" pTemplate="footer">
            <div class="flex flex-row align-items-center">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-arrow-up"
                pTooltip="Upvote Movie"
                (click)="voteMovie(movie, true)"
                class="p-button-rounded p-button-outlined"></button>
              <span class="ml-1">{{ movie.upVotes }}</span>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-arrow-down"
                pTooltip="Downvote Movie"
                (click)="voteMovie(movie, false)"
                class="p-button-rounded p-button-outlined ml-4"></button>
              <span class="ml-1">{{ movie.downVotes }}</span>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                pTooltip="Write a review"
                (click)="
                  showWriteReviewModal = true; selectedMovieForReview = movie
                "
                class="p-button-rounded p-button-outlined ml-4"></button>
            </div>
          </ng-template>
        </p-card>
        <div
          *ngIf="
            viewMode?.code === 'recommended' && recommendedMovies.length === 0
          "
          class="w-full flex flex-row justify-content-center mt-4">
          <div
            class="flex flex-column justify-content-center align-items-center">
            <p-message
              severity="info"
              text="Please favourite some genres to see recommended movies"
              styleClass="mt-4 w-full"></p-message>
            <button
              pButton
              pRipple
              icon="pi pi-plus"
              type="button"
              label="Add Favourites"
              (click)="showAddFavourites()"
              class="p-button-help inline-block w-5 mt-2"></button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noMoviePlaceholder>
      <div class="p-4 w-full flex flex-row justify-content-center">
        <p-message
          severity="info"
          text="No movies match the selected criteria"
          styleClass="mt-4 w-full"></p-message>
      </div>
    </ng-template>
    <ng-template #movieLoadSpinner>
      <div class="w-full flex flex-row justify-content-center mt-4">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </ng-template>
  </div>
</div>

<p-dialog
  *ngIf="user$ | async"
  header="Add Movie"
  [(visible)]="showAddMovieModalBinding"
  [style]="{ width: '30vw' }"
  [modal]="true">
  <app-add-movie-form></app-add-movie-form>
  <ng-template pTemplate="footer">
    <p-button
      label="Add"
      (onClick)="dispatchCtaAction()"
      styleClass="p-button-raised"></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Add Review"
  [(visible)]="showWriteReviewModal"
  [style]="{ width: '30vw' }"
  [modal]="true">
  <textarea
    styleClass="w-full"
    pInputTextarea
    [(ngModel)]="movieReview"></textarea>

  <ng-template pTemplate="footer">
    <p-button
      label="Add"
      (onClick)="writeReview()"
      styleClass="p-button-raised"></p-button>
  </ng-template>
</p-dialog>
